.x-followCard {
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 0.8rem;
  justify-content: space-between;
}

.x-followCard-header {
  display: flex;
  align-items: center;
  gap: 4px;
}

.x-followCard-info {
  display: flex;
  flex-direction: column;
}

.x-followCard-infoUserName {
  opacity: 0.6;
}

.x-followCard-avatar {
  width: 48px;
  height: 48px;
  border-radius: 1000px;
}

.x-followCard-button {
  cursor: pointer;
  margin-left: 16px;
  border: 0;
  border-radius: 999px;
  padding: 6px 16px;
  font-weight: bold;
  border: 1px solid #000;
  transition: .3s ease background-color;
}

.x-followCard-button.is-Following{
  border: 1px solid;
  color: whitesmoke;
background-color: #0f1419;
}

.x-followCard-button:hover {
  background-color: #0f1419;
  color: whitesmoke
}

.x-followCard-button.is-Following:hover{
  color: red;
  border: 1px solid red;
  background: #800000;
  
}